
<div class="flex">

    <!-- start sidebar for web -->
    <aside class="hidden md:block w-64 fixed left-0 top-0 h-screen">
        <app-sidebar></app-sidebar>
    </aside>
    <!-- end sidebar for web -->
    <main class="flex flex-col w-full md:ml-64 overflow-auto">
        <!-- start top bar for mobile -->
        <app-topbar class="block md:hidden"></app-topbar>
        <!-- end top bar for mobile -->

        <div class="py-16 md:py-0 h-screen bg-gray-50">
          <router-outlet></router-outlet>
        </div>

        <!-- start bottom bar for mobile -->
        <app-bottombar class="block md:hidden"></app-bottombar>
        <!-- end bottom bar for mobile -->

    </main>

    <!-- start floating action button for mobile -->
    <div class="fixed z-90 bg-beyonic-blue-500  bottom-20 md:bottom-8 right-2 md:right-8 w-16 h-16 rounded-full shadow-lg">
        <img src="assets/images/beyonic-fab.png">
    </div>
    <!-- end floating action button for mobile -->

</div>