<section class="fixed inset-x-0 h-16 bg-beyonic-blue-600 font-medium flex justify-between items-center">
    <div class="left-0">
        <img class="h-16" src="/assets/images/beyonic-white.png">
    </div>

    <div class="inset-y-0 right-0 flex items-center text-white gap-4 mx-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <i class="fa-regular fa-xl fa-bell"></i>
        <div class="avatar-icon bg-beyonic-blue w-8 h-8 text-sm">
            {{ initials(user.lastName + " " +user.firstName)}}
        </div>
    </div>
</section>